# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
**/.venv/
venv/
.env
*.env
*.whl

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
*.db
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# Test / temp
*.pkl
*.log
tmp/

# SonarQube
.scannerwork/
proxy/coverage.xml
